# Node.js
/node_modules/
**/node_modules/

# Marp Output
*.pdf
*.html
*.pptx

# Exception - Keep this specific PDF
!slide_template.pdf

# OS・Editor Specific
.DS_Store
Thumbs.db
.idea/

# Others
.env
chrome/